sudo: false
language: ruby
cache: bundler
matrix:
  include:
  - rvm: jruby-9.1.13.0
    env: LOGSTASH_BRANCH=master
  - rvm: jruby-9.1.13.0
    env: LOGSTASH_BRANCH=7.6
  - rvm: jruby-9.1.13.0
    env: LOGSTASH_BRANCH=6.8
  fast_finish: true
install: true
before_script: ci/build.sh
script: ci/run.sh
after_script: ci/cleanup.sh
jdk: openjdk8
before_install: gem install bundler -v '< 2'
