import:
  - logstash-plugins/.ci:travis/travis.yml@1.x

# lock on version 8.x because use of Jackson 2.13.3 available from 8.3.0
jobs:
  exclude:
  - env: ELASTIC_STACK_VERSION=7.current
  - env: SNAPSHOT=true ELASTIC_STACK_VERSION=7.current
